body {
    font-family: Verdana, Arial, sans-serif;
    width: 400px;
    margin: 0px auto;
}

h1 {
    background-color: #f66969;
}

.text-center {
    text-align: center;
}

#description {
    background-color: #78e270;
}

#ingredients {
    background-color: #709ce2;
}

#steps {
    background-color: #e270e2;
}

ul {
    font-weight: 800;
}

ul li {
    font-size: 14px;
}

ol li {
    font-size: 12px;
    margin-bottom: 10px;
}

.main-menu {
    background-color: green;
    color: white;
    padding: 20px;
}

.main-menu li {
    background-color: #78e270;
    margin: 10px;
    padding: 10px;
}